<input type="radio" name="r-btn" value="standby" checked="checked">Standby<br>

<% @projects.each do |project| %>
  <input type="radio" name="r-btn" value="<%= project.id %>"><%= project.name %><br>
<% end %>

<button class="move-btn">Move</button>
<br>

<% @users.each do |user| %>
  <% unless user == current_user %>
    <input type="checkbox" name="user" value="<%= user.id %>"><%= user.email %><br>
  <% end %>
<% end %>

<button class="show-btn">Show form</button>
<button class="hide-btn">Hide form</button>

<table>
  <tr>
    <td>Name</td>
    <td>Flow Balance</td>
    <td>Impact Factor</td>
    <td>Conclusion</td>
    <td>Question &amp; Answer</td>
    <td>Attire</td>
  </tr>
  <% @projects.each do |project| %>
    <tr class="project-<%= project.id %>">
      <td colspan="6"><strong><%= project.name %></strong></td>
    </tr>
    <% project.scores.each do |score| %>
      <tr>
        <td><%= score.user.email %></td>
        <td><%= score.flow_balance %></td>
        <td><%= score.impact_factor %></td>
        <td><%= score.conclusion %></td>
        <td><%= score.question_and_answer %></td>
        <td><%= score.attire %></td>
      </tr>
    <% end %>
  <% end %>
</table>