<!DOCTYPE html>
<html>
  <head>
    <title>Panel Scoring App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <% if current_user && !current_user.is_admin? %>
    	<%= render 'status_bar' %>
    <% end %>

  </body>
</html>
